/* Images and backgrounds were not created by me
        Background source : https://dzone.com/articles/case-you-missed-it-heres-8
        Sprite source: https://craftpix.net/freebies/free-pixel-art-tiny-hero-sprites/
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body{
    font-family: 'Press Start 2P', cursive;
    background-image: url('../assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Settings Page */
#settings-contain{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f1f1f1;
}

/* apply filter to image w/o applying to content */
#settings-contain::before{
    content: '';
    width: 100%;
    height: 100%;
    background-image: url('../assets/bg.png');
    background-color: purple;
    background-blend-mode: multiply;
    filter: brightness(0.4);
    -webkit-filter: brightness(0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
}

#settings-contain input, #settings-contain button{
    margin-top: 10px;
    padding:  5px 10px;
}

#settings-contain img{
    width: 150px;
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 15px;
}

#settings-contain img:hover{
    cursor: pointer;
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
}

.selected-pet{
    border: 5px solid purple;
}

#settings-contain p{
    margin-top: 10px;
}

#settings-contain span{
    font-size: 8px;
    width: 500px;
}

#settings-contain button{
    margin-top: 25px;
}

.welcome-message{
    position: absolute;
    top: 15vh;
}

.welcome-message p {
    margin-top: 10px;
}

.welcome-message a, .welcome-message a:visited{
    color: purple;
    text-decoration: none;
}

/* Hide main screens */
.hidden{
    display: none !important;
}

/* Header */
header{
    display: flex;
    width: 95vw;
    top: 2.5vh;
    left: 2.5vw;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 100;
}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#js-pause{
    margin-right: 25px;
    padding: 5px;
}

/* Pet */
#js-pet-contain{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
}

.js-pet-image{
    width: 250px;
    height: 250px;
    background-image: url('../assets/owlet-idle.png');
    background-size: cover;
    /*background-position: center;
    */margin-bottom: -3vh;
    animation: play 1.5s steps(4) infinite ;
    -webkit-animation: play 1.5s steps(4) infinite alternate;
    z-index: -2;
    /* filter:hue-rotate(45deg) ;
    -webkit-filter:hue-rotate(45deg) ;  use for aging*/
}

@keyframes play {
    100% { background-position: -1000px; }
} 

.pet-death{
    z-index: -2;
    width: 237px;
    height: 250px;
    background-image: url('../assets/owlet-death.png');
    background-size: cover;
    /*background-position: center;
    */margin-bottom: -3vh;
    animation: playdeath 1.5s alternate steps(9);
    -webkit-animation: playdeath 1.5s alternate steps(9);
}

@keyframes playdeath {
    0%{ background-position: -245px;}
    100% { background-position: -2359px; }
}

/* Pet Status */
#js-pet-status{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.status{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status-grey{
    background: #d7d7d7;
    width: 165px;
    padding: 10px 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.status-color{
    width: 10%;
    height: 100%;
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 0;
}

#hunger .status-color{
    background-color: lightgreen;
}

#sleepiness .status-color{
    background-color: goldenrod;
}

#boredom .status-color{
    background-color: indianred;
}

.status-grey p{
    position: relative;
}

.status button{
    width: 165px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    padding: 10px 0;
}

/* Game End Message */

.game-end{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    opacity: 0;
    transition: 1s ease-in all;
    -webkit-transition: 1s ease-in all;
    -moz-transition: 1s ease-in all;
    -ms-transition: 1s ease-in all;
    -o-transition: 1s ease-in all;
}

.game-end-show{
    opacity: 1;
    margin-top: 0;
}

.game-end div{
    display: flex;
    flex-direction: column;
}

.game-end div button{
    padding: 5px;
    margin-top: 15px;
}

/* Rain */

.rain{
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/rain.png');
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    display: none;
}

