*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Press Start 2P', cursive;
    background-image: url('../assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#js-pet-contain{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
}

#js-pet-image{
    width: 250px;
    height: 200px;
    background-image: url('../assets/pet.png');
    background-size: cover;
    background-position: center;
    margin-bottom: -3vh;
}

#js-pet-status{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.status{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status-grey{
    background: #d7d7d7;
    width: 165px;
    padding: 10px 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.status-color{
    background: #d7d7d7;
    width: 10%;
    height: 100%;
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 0;
}

.status-grey p{
    position: relative;
}

.status button{
    width: 165px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    padding: 10px 0;
}